$main-blue: #21333e;
$second-blue: #e94649; //#058283 changed
$custom-white: #e8ecea;
$transparent-lightblue: rgba(69, 187, 188, .3);
$not-trasparent-lightblue: #c7eaeb;
$custom-black: #111117;
