@import "_colors";

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

// UTILITY CLASSES -------------------------------------------------------------

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.button-1, .button-2 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid $second-blue;
  cursor: pointer;
}

.button-1 {
  color: $custom-white;
  background-color: $second-blue;
}

.button-2 {
  color: $second-blue;
}

.pre-title {
  font-weight: 600;
  font-size: .9em;
  color: $second-blue;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

h3 {
  display: inline-block;
}

.darkblue-bubble, .lightblue-bubble {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
  border-radius: 5px;
}

.darkblue-bubble {
  background-color: $main-blue;
}

.lightblue-bubble {
  background-color: $transparent-lightblue;
  color: $second-blue;
}

.logo span {
  font-weight: 700;
  font-size: 1.1em;
}

.logo span:first-child {
  background-color: $transparent-lightblue;
  border-radius: 100px 0 0 100px;
  padding: 10px 5px 10px 25px;
  color: $second-blue;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

// end UTILITY -----------------------------------------------------------------


header {
  height: 50px;
  background-color: $main-blue;
  font-size: .8em;

  .header {
    @include flex-space-between;
    height: 100%;
    color: $custom-white;

    &-left, &-right {
      display: flex;
      align-items: center;
    }

    &-right div {
      margin-right: 30px;
    }

    .social-icons {
      margin-right: 0;

      & i {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.jumbotron {
  background-image: url('../img/bg-6.jpg');
  height: 700px;
  background-size: cover;
  background-position: bottom;
  color: $main-blue;

  nav {
    @include flex-space-between;
    align-items: center;
    padding: 10px 0;
  }

  .nav-right ul {
    list-style: none;

    & li {
      display: inline-block;
      font-size: .9em;
      font-weight: 500;
      margin-right: 30px;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-form {
    height: calc(100% - 61px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h1 {
      font-size: 4em;
      font-weight: 900;
    }

    .form-content {
      width: 400px;
    }

    .button-1 {
      margin: 5px 10px 0 0;
    }

    .form {
      display: flex;
      flex-wrap: wrap;

      input, div {
        width: calc(50% - 10px);
        font-size: 14px;
        border: none;
        background-color: lightgrey;
        margin: 10px 0;
        padding: 10px;

        &:first-child, &:nth-child(3) {
          margin-right: 20px;
        }

        i {
          float: right;
        }
      }
    }
  }
}

.company-section {
  background-color: $custom-black;
  color: $custom-white;
  padding: 120px 0;

  .company-content {
    display: flex;

    p {
      font-size: .9em;
    }

    &-left {
      width: 40%;
      margin-right: 60px;

      h1 {
        font-weight: 800;
        margin: 20px 0;
      }
    }

    &-right {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      div {
        width: 40%;
        margin-right: 15px;
      }

      h3 {
        margin-bottom: 10px;
      }

      i {
        color: $second-blue;
        font-size: 1.3em;
        margin-right: 5px;
      }
    }
  }
}

.services-section {
  background-color: $custom-white;
  color: $main-blue;
  padding: 100px 0;

  h1 {
    margin: 20px 0;
  }

  .sub-title-services {
    @include flex-space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: 20px 0;
  }

  p {
    font-size: .9em;
    width: 70%;
  }

  .grid {
    @include flex-space-between;
    flex-wrap: wrap;

    div {
      background-color: white;
      height: 200px;
      width: 31%;
      border-radius: 10px;
      margin-top: 30px;
      padding: 40px;

      h3 {
        display: block;
      }

      i {
        color: $second-blue;
        font-size: 2em;
      }

      .fa-arrow-right {
        float: right;
        color: $second-blue;
        font-size: 1.5em;
      }

      h3 {
        margin: 10px 0;
      }

      p {
        font-size: .8em;
      }
    }
  }
}

.management-section {
  color: $main-blue;
  padding: 100px 0;

  &-content {
    text-align: center;

    h1 {
      margin: 20px 0;
    }

    p {
      width: 800px;
      margin: 0 auto;
    }

    .row {
      height: 6px;
      background-color: $transparent-lightblue;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 50px;

      div {
        background-color: #c7eaeb;
        padding: 10px;
        border-radius: 50%;
        z-index: 1;
        color: $second-blue;
        font-weight: 800;
      }
    }

    .row-description {
      display: flex;
      justify-content: space-around;

      div {
        width: 15%;

        h3 {
          margin: 30px 0 20px 0;
        }

        p {
          font-size: .7em;
          width: 200px;
        }
      }
    }
  }
}

.team-section {
  background-color: $custom-black;
  color: $custom-white;
  padding: 80px;

  h1 {
    margin: 20px 0;
  }

  p {
    font-size: .9em;
  }

  .team-section-sub {
    @include flex-space-between;

    &-left {
      width: 65%;
    }

    &-right {
      width: 30%;
      background-color: $second-blue;
      border-radius: 5px;
      padding: 30px;

      h3 {
        margin-bottom: 15px;
      }

      span {
        font-weight: 800;
        margin-top: 20px;
        float: left;
      }

      i {
        float: right;
        color: black;
        opacity: .5;
        font-size: 2em;
        margin-top: 10px;
      }
    }

    img {
      width: 80px;
      border-radius: 5px;
      margin-right: 20px;
    }

    .team-photos {
      @include flex-space-between;
      flex-wrap: wrap;

      .team-container {
        display: flex;
        width: 300px;
        margin-top: 30px;

        .icons {
          display: flex;

          .icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 0 2px;
          }
        }

        p {
          font-size: .8em;
          margin: 10px 0;
        }
      }
    }
  }
}

.news-section {
  padding: 100px 0;

  h1 {
    margin: 20px 0;
  }

  .subtitle-news {
    @include flex-space-between;
    align-items: center;
  }

  .news-images-container {
    @include flex-space-between;
    margin-top: 30px;

    .news-image {
      width: 31%;
      height: 300px;
      background-size: cover;
      border-radius: 10px;
      position: relative;

      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        border-radius: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      h3 {
        padding: 30px;
        color: $custom-white;
        position: absolute;
        left: 0;
        bottom: 5%;
        text-align: center;
        z-index: 1;
      }


    }
  }
}

.know-section {
  background-image: url('../img/bg-1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;

  &-content {
    @include flex-space-between;
    width: 800px;
    margin: 0 auto;

    h1 {
      margin: 20px 0;
    }

    &-left, &-right {
      width: 47%;
    }

    &-right {

      input {
        width: 100%;
        padding: 15px 10px;
        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .5);
        margin-bottom: 20px;
      }
    }
  }
}

.footer {
  background-color: $custom-black;
  color: $custom-white;
  padding: 100px 0;

  span, p {
    font-size: .8em;
  }

  .logo {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &-content {
    @include flex-space-between;

    .button-2 {
      color: $custom-white;
    }

    &-left, &-right {
      width: 23%;
    }

    &-left div {
      margin: 10px 0;
    }

    &-left i {
      margin-right: 10px;
    }

    &-right {
      background-color: #19191f;
      padding: 30px 0 30px 30px;
      border-radius: 10px;
    }

    h3 {
      margin-bottom: 10px;
    }

    li:before {
      font-family: "FontAwesome";
      font-weight: lighter;
      content: "\f105";
      margin-right: 10px;
      font-size: 1.5em;
      position: relative;
      top: 2px;
    }
  }
}

.sub-footer {
  background-color: #0d0d11;
  color: $custom-white;
  font-size: .8em;
  padding: 20px 0;

  span {
    color: $second-blue;
  }

  &-content {
    @include flex-space-between;
  }
}
